/* #login{

}
#header{
  height:50px;
  width:100%;
  background-color: lightgreen;
 
}

#body{
    min-height:630px;
    width:100%;
    background-color: lightgray; 
}
#footer{
    height:50px;
    width:100%;
    background-color: lightgreen; 

} */
